#map {
	position: absolute; 
	top:0; 
	bottom:0; 
	right:0; 
	left:0; 
	overflow:hidden;
}

.navbar .navbar-inner {
    background-color: rgba(255,255,255,0.7);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b2ffffff', endColorstr='#b2ffffff'); /* IE */
    background-image: none;
}

.dropdown-menu {
    min-width: 40em !important;
}

.popover {
    min-width: 40em !important;
}